.elementor-2198 .elementor-element.elementor-element-470a4c2.elementor-wc-products  ul.products{grid-column-gap:20px;grid-row-gap:40px;}.elementor-2198 .elementor-element.elementor-element-470a4c2 .product{text-align:center;}.elementor-2198 .elementor-element.elementor-element-470a4c2 .woocommerce-loop-category__title .count{color:#070202;}/* Start custom CSS for wc-categories, class: .elementor-element-470a4c2 */.parent-cat-container {
  box-sizing: border-box;
}

.parent-cat-container .product-category {
    transition: .5s all;
    box-shadow: 0 0 10px 3px #999;
    border: 2px solid #b5b5b5;
}

.parent-cat-container .product-category:hover {
    box-shadow: none;
}


.parent-cat-container .product-category {
    box-shadow: 0 0 10px 3px #999;
}

.parent-cat-container .woocommerce-loop-category__title {
    text-transform: uppercase !important;
    margin-top: 0 !important;
    color: #fb8401 !important;
    
}

.parent-cat-container
.product-category:hover
.woocommerce-loop-category__title {
    background-color: #fb840147;
}

.parent-cat-container
.product-category
.woocommerce-loop-category__title
.count{
}/* End custom CSS */